<section class="footer">
    <div class="colophon">
        <a href="//www.qf.org.qa/home">Qatar Foundation</a>
    </div>
    <ul class="footer-list u-unstyled">
        <li>General Info</li>
        <li><a href="//www.qf.org.qa/about/about">About QF</a></li>
        <li><a href="//www.qf.org.qa/qf-entities/qf-entities">QF Entities</a></li>
        <li><a href="//www.qf.org.qa/participate/jobs/jobs-at-qatar-foundation">Careers</a></li>
        <li><a href="//next.qf.org.qa/visit">Visit</a></li>
    </ul>

    <ul class="footer-list u-unstyled">
        <li>Contact</li>
        <li>Qatar Foundation</li>
        <li>+974 4454 0000</li>
        <li>P.O. Box 5825 Doha, Qatar</li>
        <li><a href="//www.qf.org.qa/footer/contact-us">How to reach us</a></li>
    </ul>
    <div class="footer-misc">
    </div>
</section>