
$neutral-light:		#BDBBBB;
$neutral-medium: 	#99999a;
$neutral-dark:		#9B9B9B;


$black:					#4c4c4c;

$qf-green: 			#044437;
$qf-yellow:			#F2DF00;
$link:					#0071CE;
$link-hover:		#FF4338;


$qfp-blue: 			#00B5E2;