<section class="footer">
    <div class="colophon">
        <a href="http://www.qf.org.qa/home">مؤسسة قطر</a>
    </div>
    <ul class="footer-list u-unstyled">
        <li>معلومات عامة</li>
        <li><a href="http://www.qf.org.qa/about-ar/about-ar">عن المؤسسة</a></li>
        <li><a href="http://www.qf.org.qa/qf-entities-ar/qf-entities-ar">أعضاء مؤسسة قطر</a></li>
        <li><a href="http://www.qf.org.qa/participate-ar/jobs-ar/jobs-at-qatar-foundation-ar">وظائف</a></li>
        <li><a href="/visit/ar">زيارة</a></li>
    </ul>

    <ul class="footer-list u-unstyled">
        <li>اتصل</li>
        <li>مؤسسة قطر</li>
        <li>٠٠٠٠ ٤٤٥٤ ٩٧٤ +</li>
        <li>٥٨٢٥، الدوحة – قطر</li>
        <li><a href="http://www.qf.org.qa/footer-ar/contact-us-ar">كيف تصل إلينا</a></li>
    </ul>
    <div class="footer-misc">
    </div>
</section>